/* Base styles - these apply to all screen sizes by default */

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
  overflow-y: scroll; /* Show vertical scrollbar */
  background: linear-gradient(to right, #0000FF, #8A2BE2, #DA70D6);
  color: rgb(0, 0, 0);
  font-family: 'Playpen Sans', cursive;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 20rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20,20,20);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  color: rgb(255,255,255,0.5);
  text-decoration: none;
  padding: 0rem 1.8rem; /* Reduced padding for smaller screens */
  font-weight: bold;
  font-size: 1rem; /* Reduced font size for smaller screens */
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: rgb(255,255,255,1);
}

.cover-image-container {
  text-align: center; /* Center the image on small screens */
  margin-top: 2rem; /* Reduced margin for smaller screens */
  margin-bottom: 1rem;
}

.cover-image-container img {
  max-width: 80%; /* Ensure the image is not larger than the container */
  height: auto;
  border-radius: 20%;
}

.intro h1 {
  text-align: center;
  font-size: 2rem; /* Reduced font size for smaller screens */
  margin: 0 0 1rem 0;
  
}

.intro p {
  font-size: 1rem; /* Reduced font size for smaller screens */
  max-width: 90%; /* Allow a little margin on the sides */
  margin: auto;
  padding-bottom: 3rem;
}

.intro {
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column; /* Stacks children vertically on small screens */
  align-items: center;
  text-align: center;
}



/* Large screens (large laptops, desktops) */
@media (min-width: 992px) {
  nav {
      padding: 0.5rem 3rem; /* Increase padding for larger screens */
  }

  nav a {
      padding: 0.2rem 12rem;
      font-size: 1.5rem;
  }

  .cover-image-container img {
    max-width: 100%; /* Ensure the image is not larger than the container */
    height: auto;
    border-radius: 20%;
  }

  .cover-image-container {
      float: right;
      margin-right: 3rem;
      margin-top: 5rem; /* Adjusted for better spacing on large screens */
  }

  .intro h1 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 3rem;
  }

  .intro p {
    padding-right: 0rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .intro {
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .content-container {
    width: 40%;
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
    padding-left: 0rem;
    /* move the container to the right */
    margin-left: 13rem;
    margin-top: 4.5rem;
    position: relative;
    max-height: fit-content;
    text-align: left;
    font-size: 1.5rem;


  }

  
  .content-container::before {
    content: '';
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .intro h1::after {
    /* add vertical line for the larger screen */
    content: '';
    display: block;
    margin: 1rem 0; /* Adjusts space around the line */
    height: 3px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 100%; /* Line width */
  }

  .about-me h2 {
    text-align: center;
  }

  .about-me h4 {
    text-align: center;
    color: rgb(0,0,0,1);
  }

  .about-me {
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 75%;
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
    /* move the container to the right */
    position: relative;
    max-height: fit-content;
    text-align: left;
    font-size: 1.5rem;
    padding: 3rem;
  }

  .about-me::before {
    content: '';
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    inset: 0;
    transform: rotate(-3deg);
    z-index: -1;
  }

  .about-me h2::after {
    content: '';
    display: block;
    margin: 1rem 0; /* Adjusts space around the line */
    height: 3px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 100%; /* Line width */
  }

  .accolades h2 {
    text-align: center;
  }

  .accolades {
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 75%;
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
    /* move the container to the right */
    position: relative;
    max-height: fit-content;
    text-align: left;
    font-size: 1.5rem;
    padding: 3rem;
  }

  .accolades::before {
    content: '';
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .accolades h2::after {
    content: '';
    display: block;
    margin: 1rem 0; /* Adjusts space around the line */
    height: 3px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 100%; /* Line width */
  }

  .socials h2 {
    text-align: center;
  }

  .socials {
    width: 30%;
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
    /* move the container to the right */
    position: relative;
    max-height: fit-content;
    text-align: left;
    font-size: 1.5rem;
    padding: 3rem;
  }

  .socials::before {
    content: '';
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .socials h2::after {
    content: '';
    display: block;
    margin: 1rem 0; /* Adjusts space around the line */
    height: 3px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 100%; /* Line width */
  }

  .send-message h2 {
    text-align: center;
  }

  .send-message {
    width: 30%; 
    background-color: rgb(255,255,255,0.5);
    border-radius: 0.2rem;
    /* move the container to the right */
    position: relative;
    max-height: fit-content;
    text-align: left;
    font-size: 1.5rem;
    padding: 3rem;
  }

  .send-message::before {
    content: '';
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .send-message h2::after {
    content: '';
    display: block;
    margin: 1rem 0; /* Adjusts space around the line */
    height: 3px; /* Line thickness */
    background-color: #000000; /* Line color */
    width: 100%; /* Line width */
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* move the containers away from the edges of the screen */
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
  }

  .icon {
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 2rem;
    padding-right: 1rem;
  }

  .text {
    text-decoration: none;
    color: black;
}

/* Since the .text class is used within <a> elements, you need to specifically target them to remove the text decoration */
.text a {
    text-decoration: none;
    color: black;
}

.text a:hover {
    color : rgb(0,0,0,0.5);

}


    .research-container{
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      position: relative;
      max-height: fit-content;
      text-align: center;
      font-size: 1.5rem;
  

    }

    .research-container h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    
    .side-projects-container {
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      position: relative;
      max-height: fit-content;
      text-align: center;
      font-size: 1.5rem;
  
    }

    .side-projects-container h2 {
      margin-bottom: 0;
      margin-top: 0;
    }

    .quantum-container {
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      /* move the container to the right */
      position: relative;
      max-height: fit-content;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0rem;
  
  
    }

    .quantum-container img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      margin-bottom: 0;
      margin-top: 0;
    }

    

  
    .quantum-cover-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
      color: rgb(0,0,0,1);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s;
      font-size: 2em; /* Adjust font size accordingly */
    }
  
    .quantum-container:hover .quantum-cover-text {
      opacity: 1;
    }

    .dune-container {
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      /* move the container to the right */
      position: relative;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0rem;
  
  
    }

    .dune-container img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }

    

  
    .dune-cover-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
      color: rgb(0,0,0,1);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s;
      font-size: 2em; /* Adjust font size accordingly */
    }
  
    .dune-container:hover .dune-cover-text {
      opacity: 1;
    }

    .minesweeper-container {
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      /* move the container to the right */
      position: relative;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0rem;
  
  
    }

    .minesweeper-container img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }

    

  
    .minesweeper-cover-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
      color: rgb(0,0,0,1);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s;
      font-size: 2em; /* Adjust font size accordingly */
    }
  
    .minesweeper-container:hover .minesweeper-cover-text {
      opacity: 1;
    }

    .two-container {
      width: 100%;
      background-color: rgb(255,255,255,0.5);
      border-radius: 0.2rem;
      padding-left: 0rem;
      /* move the container to the right */
      position: relative;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0rem;
  
  
    }

    .two-container img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }

    

  
    .two-cover-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
      color: rgb(0,0,0,1);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s;
      font-size: 2em; /* Adjust font size accordingly */
    }
  
    .two-container:hover .two-cover-text {
      opacity: 1;
    }


  
}
